./1.comandosBash/2.fundaments.md
./1.comandosBash/3.condiciones.sh
./1.comandosBash/4.estControl.sh
./1.comandosBash/5.EntradaYSalida.sh
./1.comandosBash/6.funciones.sh
./1.comandosBash/7.ArraysStrings.sh
./1.comandosBash/8.FuncionesExternas.sh
./1.comandosBash/9.GestionDeProcesos.sh

./2.redes/2.practicaRedes.md
./2.redes/nmap.md
./2.redes/otros.md

./6.criptografia/
./7.forense/

git rm --cached

 git rm --cached ./1.comandosBash/2.fundaments.md
 git rm --cached ./1.comandosBash/3.condiciones.sh
 git rm --cached ./1.comandosBash/4.estControl.sh
 git rm --cached ./1.comandosBash/5.EntradaYSalida.sh
 git rm --cached ./1.comandosBash/6.funciones.sh
 git rm --cached ./1.comandosBash/7.ArraysStrings.sh
 git rm --cached ./1.comandosBash/8.FuncionesExternas.sh
 git rm --cached ./1.comandosBash/9.GestionDeProcesos.sh

git rm --cached ./2.redes/2.practicaRedes.md
git rm --cached ./2.redes/nmap.md
git rm --cached ./2.redes/otros.md
git rm --cached ./6.criptografia/
git rm --cached ./7.forense/


